{:deps {com.cognitect.aws/api       {:mvn/version "0.8.612"}
        com.cognitect.aws/endpoints {:mvn/version "1.1.12.321"}
        com.cognitect.aws/iam       {:mvn/version "825.2.1233.0"}
        com.cognitect.aws/budgets   {:mvn/version "822.2.1171.0"}
        com.cognitect.aws/s3        {:mvn/version "825.2.1250.0"}
        com.cognitect.aws/ec2       {:mvn/version "825.2.1262.0"}
        cheshire/cheshire           {:mvn/version "5.11.0"}}}
